services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: backend
    networks:
      - LinkFixer
    volumes:
      - ./server:/src
      - /src/node_modules
    ports:
      - "5000:5000"
    depends_on:
      - rabbitmq
    environment:
      - NODE_ENV=production
      - RABBITMQ_URL=amqp://rabbitmq:5672

  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    networks:
      - LinkFixer
    ports:
      - "15672:15672"
      - "5672:5672"
    mem_limit: 130m
  manager:
    build:
      context: ./workers
      dockerfile: Dockerfile
    networks:
      - LinkFixer
    volumes:
      - ./workers:/app
      - /app/node_modules
    container_name: manager
    environment:
      - QUEUE=priority_high
      - NEXT_QUEUE=none
      - INSTANCES=1
      - AUTHORIZATION_TOKEN=1234
      - RABBITMQ_URL=amqp://rabbitmq:5672
    depends_on:
      - rabbitmq
    restart: unless-stopped 

networks:
  LinkFixer:
    driver: bridge