services:
  backend:
    env_file:
      - .env
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: backend
    volumes:
      - ./server:/src
      - /src/node_modules
    ports:
      - "5000:5000"
    depends_on:
      - rabbitmq
    environment:
      - MODE_NODE=${MODE_NODE}
      - PORT=${PORT}
      - BACKEND_URL=${BACKEND_URL}
      - JWT_SECRET=${JWT_SECRET}
      - MONGO_URI=${MONGO_URI}
      - REDIS_URL=${REDIS_URL}
      - EMAIL_USERNAME=${EMAIL_USERNAME}
      - EMAIL_SECRET=${EMAIL_SECRET}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
      - BREVO_KEY=${BREVO_KEY}
      - AI_API_KEY=${AI_API_KEY}
      - RABBITMQ_URL=${RABBITMQ_URL}
      - JWT_VERFICATION_SECRET=${JWT_VERFICATION_SECRET}

  rabbitmq:
    env_file:
      - .env
    image: rabbitmq:4-management
    container_name: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
    ports:
      - "15672:15672"
      - "5672:5672"
    mem_limit: 150m
  manager:
    env_file:
      - .env
    build:
      context: ./workers
      dockerfile: Dockerfile
    volumes:
      - ./workers:/app
      - /app/node_modules
    container_name: manager
    environment:
      - QUEUE=priority_high
      - NEXT_QUEUE=none
      - INSTANCES=2
      - RABBITMQ_URL=${RABBITMQ_URL}
      - REDIS_URL=${REDIS_URL}
      - MONGO_URI=${MONGO_URI}

    depends_on:
      - rabbitmq
    restart: unless-stopped 